<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!--
  Checkstyle checks configured for Maven.
-->

<module name="Checker">
    <!-- Make all of the messages flagged as warnings -->
    <property name="severity" value="warning"/>

    <!-- Checks that a package.html file exists for each package.     -->
    <!-- See http://checkstyle.sf.net/config_javadoc.html#PackageHtml -->
    <module name="PackageHtml"/>

    <!-- Checks whether files end with a new line.                        -->
    <!-- See http://checkstyle.sf.net/config_misc.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile"/>

    <!-- Checks that property files contain the same keys.         -->
    <!-- See http://checkstyle.sf.net/config_misc.html#Translation -->
    <module name="Translation"/>

    <module name="SuppressionFilter">
        <property name="file" value="${basedir}/checkstyle_suppressions.xml"/>
    </module>        

    <module name="TreeWalker">

        <property name="cacheFile" value="${checkstyle.cache.file}"/>
        
        <module name="Header">
            <property name="headerFile" value="${basedir}/LICENSE.txt"/>
            <property name="ignoreLines" value="1,2,3,4,5,6"/>
        </module>
        <property name="tabWidth" value="4"/>
        <module name="LeftCurly">
          <property name="option" value="eol"/>
        </module>
        <module name="RightCurly">
          <property name="option" value="alone"/>
        </module>
        <module name="LineLength">
          <property name="max" value="120"/>
        </module>
        <module name="MethodLength">
          <property name="max" value="175"/>
        </module>
        <module name="ConstantName">
          <property name="format" value="log|^[a-zA-Z][a-zA-Z0-9_]*$"/>
        </module>

        <!-- Checks for Javadoc comments.                     -->
        <!-- See http://checkstyle.sf.net/config_javadoc.html -->
        <module name="JavadocMethod">
            <property name="scope" value="protected"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
        </module>
        <module name="JavadocType">
            <property name="scope" value="protected"/>
            <property name="authorFormat" value="\S"/>
            <property name="versionFormat" value="\$Revision.*\$"/>
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="protected"/>
        </module>

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName">
            <property name="format" value="^[a-zA-Z0-9]+|test[A-Z][a-zA-Z0-9_]+$"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName">
            <property name="format" value="^[A-Z][a-zA-Z0-9_]+_$"/>
        </module>
        <module name="TypeName"/>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]+_$"/>
        </module>

        <!-- Checks for imports                              -->
        <!-- See http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <module name="FileLength"/>
        <module name="ParameterNumber"/>

        <!-- Checks for whitespace                               -->
        <!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module name="TabCharacter"/>

        <!-- Checks for correct basic indentation                -->
        <!-- See http://checkstyle.sf.net/config_misc.html       -->
<!-- -->
        <module name="Indentation">
            <property name="basicOffset"      value="4"/>
            <property name="braceAdjustment"  value="0"/>
            <property name="caseIndent"       value="4"/>
        </module>
<!-- -->
        <!-- Modifier Checks                                    -->
        <!-- See http://checkstyle.sf.net/config_modifiers.html -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Checks for blocks. You know, those {}'s         -->
        <!-- See http://checkstyle.sf.net/config_blocks.html -->
        <module name="AvoidNestedBlocks"/>
		<module name="EmptyBlock">
		    <property name="option" value="text"/>
		</module>        

        <module name="NeedBraces"/>

        <!-- Checks for common coding problems               -->
        <!-- See http://checkstyle.sf.net/config_coding.html -->
        <module name="AvoidInlineConditionals"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
		<module name="RedundantThrows">
		    <property name="allowUnchecked" value="true"/>
		    <property name="allowSubclasses" value="true"/>
            <property name="logLoadErrors" value="true"/>
            <property name="suppressLoadErrors" value="true"/>
		</module>        
		
        <module name="SimplifyBooleanReturn"/>

        <!-- Checks for class design                         -->
        <!-- See http://checkstyle.sf.net/config_design.html -->
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>

        <!-- Miscellaneous other checks.                   -->
        <!-- See http://checkstyle.sf.net/config_misc.html -->
        <module name="UpperEll"/>
        
        <module name="FinalLocalVariable">
            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF"/>
        </module>
        
        <!-- Uncomment to find the TODOs without a helpful IDE -->
        <!--<module name="TodoComment"/>-->
    </module>

</module>
