<?xml version="1.0" encoding="utf-8"?>
<data>
  <record jsxid="version" type="string">1.0</record>
  <record jsxid="jsxversion" type="string">3.2</record>
  <record jsxid="caption" type="string">gidemo</record>
  <record jsxid="mode" type="boolean">true</record>
  <record jsxid="namespace" type="string">giApp</record>
  <record jsxid="cancelerror" type="boolean">true</record>
  <record jsxid="cancelrightclick" type="boolean">true</record>
  <record jsxid="left" type="number">0</record>
  <record jsxid="top" type="number">0</record>
  <record jsxid="width" type="string">100%</record>
  <record jsxid="height" type="string">100%</record>
  <record jsxid="position" type="number">0</record>
  <record jsxid="overflow" type="string">3</record>
  <record jsxid="eventsvers" type="number">3.1</record>
  <record jsxid="onload" type="string">giLoaded();</record>
  <record jsxid="objectseturl" type="string">components/appCanvas.xml</record>
  <record jsxid="includes" type="array">
    <record jsxid="0" type="map">
      <record jsxid="id" type="string">appCanvas_component</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="src" type="string">components/appCanvas.xml</record>
    </record>
  </record>
  <record jsxid="bodyhotkeys" type="boolean">false</record>
  <record jsxid="default_locale" type="string"/>
</data>
