<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>com.google.gwt.sample.dynatable.server.SchoolCalendarServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.sample.dynatable.server.SchoolCalendarServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.google.gwt.sample.dynatable.server.SchoolCalendarServiceImpl</servlet-name>
		<url-pattern>/calendar</url-pattern>
	</servlet-mapping>
</web-app>
